* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #888888;
	background: #999;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/*font-size: 32px;*/
	font-weight: normal;
	/*line-height: 2em;
	line-height: 2rem;*/
}

h1 {
	/*color: rgb(100, 100, 100);*/
}

a {
	text-decoration: none;
	color: #fff;
}

.button {
	background: #777;
	color: red;
	border: none;
	padding: 0.3em;
}

.button:hover {
	background: #fff;
}

a:visited {
	color: brown;
}

a:hover {
	color: red;
}

a:active{
	color: green;
}

/*
Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective! a:active MUST come after a:hover in the CSS definition in order to be effective! Pseudo-class names are not case-sensitive.

*/


.box-1 {
	background: #666;
	/*border-top: 10px red solid;
	border-right: 10px red solid;
	border-bottom: 10px red solid;
	border-left: 10px red solid;*/

	border: 5px red solid;
	border-width: 20px;
	border-right-width: 5px;
	border-bottom-style: dotted;
}

.container {
	width: 80%;
	margin: auto;
}

.box-1 h1 {
	font-family: Tahoma;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2 {
	border: 0.3em dotted #666;
	margin: 1em 0; /*margin: top/bottom right/left*/
	padding: 1em; /* all sides */
}

.container div.categories {
	border: 1px #555 solid;
	padding: 0.7em;
	border-radius: 10px;
}

.container div.categories h2 {
	text-align: center;
}

.container div.categories ul {
	list-style: square;
	/*list-style: none;*/
	/*padding-left: 1em;*/
	margin-left: 1em;
	background: black;
}

.container div.categories ul li {
	padding-bottom: 5px;
	border-bottom: 1px dotted #333;
}

.my-form {
	padding: 1.2em;
}

.my-form .form-group {
	padding-bottom: 1em;
	overflow: hidden;
}

.my-form .form-group label {
	display: block;
}

.my-form .form-group input, .my-form .form-group textarea {
	padding: 0.5em;
	width: 100%;
}

.my-form input[type="submit"] {
	background: #777;
	color: red;
	border: none;
	padding: 0.3em;
}

.block {
	width: 32%;
	float: left;
	border: 1px solid #333;
	padding: 0.3em;
	box-sizing: border-box;
	margin: 0.2em;
}

.clearfix {
	clear: both;
}

#main-block {
	float: left;
	width: 70%;
	border: 1px solid #333;
	padding: 0.3em;
	box-sizing: border-box;
}

#sidebar {
	float: right;
	width: 30%;
	border: 1px solid #333;
	padding: 0.3em;
	box-sizing: border-box;
}

.p-box {
	width: 700px;
	height: 700px;
	border: 2px solid #000;
	margin: 1em auto;
	position: relative;
	background-image: url(../images/bgimg.jpg);
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-position: center;

}
.p-box h1{
	position: relative;
	top: 100px;
	left: 100px;
}


.p-box h2 {
	position: absolute;
	bottom: 100px;
	right: 100px;
}

.fix-me {
	position: fixed;
	top: 300px;
	left: 100px;
}

.my-list {
	margin-top: 1em;
}

.my-list li:first-child {
	background: red;
}
.my-list li:last-child {
	background: blue;
}

.my-list li:nth-child(5) {
	background: yellow;
}

.my-list li:nth-child(even) {
	background: #333;
}