* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 1em;
	line-height: 1.6em;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#logo {
	background: coral;
	color: #fff;
	padding: 0.5em 0;
}

#nav-bar {
	background: #333;
	color: #fff;
	padding: 0.2em 0;
}

#nav-bar ul {
	list-style: none;
}

#nav-bar li {
	display: inline-block;

}

#nav-bar a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	padding-right: 1em;
}

#landing {
	background: url(../images/bgimg.jpg);
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1em;
}

#landing .container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

#landing h1 {
	color: #fff;
	text-align: center;
}

#main {
	float: left;
	width: 70%;
	padding: 0 1.9em;
}

#sidebar {
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding: 0.6em;
}

#footer {
	background: #666;
	color: #fff;
	text-align: center;
	padding: 1.3em;
	margin-top: 2.5em;
}